@tailwind base;
@tailwind components;
@tailwind utilities;
.main{
  height: 100vh;
  dispaly:grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);
  gap:5px;
}
.grid{

}
.header{
  grid-column-start :1;
  grid-column-end :6;
}
content 1{
  grid-column-start :2;
  grid-column-end :6;

}
content 2{
  grid-column-start :2;
  grid-column-end :4;

}
content3{
  grid-column-start :4;
  grid-column-end :6;

}
footer.{
  grid-column-start :1;
  grid-column-end :6;

}
.ul{


  display:flex;
  justify-content: space-between;

}
.nav{
  width: 100%;
}